*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana;
    text-decoration: none;
}

header{
    width: 100%;
    height: auto;
    position: relative;
    background: #ffffff; 
}

/*Header superior*/
.header_superior{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 237px;
}
.buscador input{
    width: 550px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #808080;
    border-radius: 16px;
    transition: all .3s;
}
.buscador input:hover{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0,  0.5);
}

.iconos img{
    width: 40px;
    margin: 10px;
    transition: all .2s;
}
.iconos .fb_icono img:hover{
    filter: invert(8%) sepia(95%) saturate(6311%) hue-rotate(245deg) brightness(110%) contrast(148%);
}
.iconos .carrito_icono img:hover{
    filter: invert(23%) sepia(90%) saturate(6451%) hue-rotate(126deg) brightness(95%) contrast(107%);
}

/*Barra Menu*/

.contenedor_menu{
    width: 100%;
    height: 70px;
    background:#d80303;
    padding: 0px 20px;
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
nav{
    height: 100%;
}

nav> ul{
    height: 100%;
    display: flex;
}

nav ul{
    justify-content: center;
}
nav ul li{
    height: 100%;
    list-style: none; /*sin viñetas*/
    position: relative; /*Posición relativa porque se debe relacionar con su padre */
}


nav> ul >li>a{
    width: 100%; /*Poner siempre en 100% para que se pueda centrar correctamente*/
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px 60px;
    color: #f5f5f5;
    text-transform: uppercase; /*Poner en letras mayúsculas*/
    font-size: 14px;
    transition: all 0.3s ease; /*Efecto cuadro de color al pasar el mouse*/
    
}
nav> ul >li>a:hover{
    transform: scale(1.1);
    background: #FF0000;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0,  0.5);
}
/*Submenu*/
nav ul li ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    background: #ffffff;
    position: absolute;
    top: 120px;
    left: -10px;
    width: 110%;
    padding: 14px 0px;
    text-decoration: none;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) ;
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 6;
    top: 75px;
    
}
nav ul li ul:before{
    /*para el triángulo del submenú*/
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #ffffff;
    position: absolute;
    top: -12px;
    left: 20px;

}
nav ul li ul li a{
    display: block;
    color: #000000;
    padding: 6px;
    padding-left: 10px;
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}
nav ul li ul li a:hover{
    background: #ff0000;
    color: #f5f5f5;
    transform: scale(1.1);
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) ;
}


/*---toogle navigation---*/
.icon_menu{
    color: #ffffff;
    cursor: pointer;
    display: none;
    align-items: center;
}
.label_menu{
    font-size: 25px;
    font-weight: bold;
    display: none;
    color: #ffffff;
}

#ic_menu{
    display: none;
}
/*FOOTER*/

footer{
    background-color: #e42020;
    width: 100%;
    margin-top: 50px;
    padding-top: 20px;
    font-size: 0.88rem;
}
.pie_pag{
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: left;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    padding-bottom: 20px;
}
.pie_pag h3, p, a{
    color:rgba(245, 245, 245, 0.863);
}
.pie_pag a{
    transition: all .3s;
}
.pie_pag a:hover{
    color: #000000;
}

.redes img{
    width: 30px;
    margin-right: 10px;
    margin-top: -15px;
    background-color: rgba(245, 222, 179, 0.692);
    filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(340deg) brightness(110%) contrast(110%); /*css filter-> para cambiar color al ícono*/
    padding: 5px;
    border-radius: 5px;
}
.redes img:hover{
    background-color: rgba(255, 247, 247, 0.795);

}
.redes{
    display: flex;
}


.columna_1{
    margin-left: 10px;
    width: 80%;
    height: 300px;
    padding: 20px;
    border-left: none;
    transition: all .2s;

}
.columna_1:hover{
   
    border-left: 3px solid rgb(226, 217, 217);;
    border-radius: 3px;
}

.columna_2{
    margin-left: 10px;
    width: 80%;
    height: 300px;
    padding: 20px;
    border-left: none;
    transition: all .2s;

}
.columna_2:hover{
    border-left: 3px solid rgb(226, 217, 217);
    border-radius: 3px;
}

.contactanos{
    margin-top: 30px;
}
.contactanos h3{
    margin-bottom: 20px;
}

.columna_1 a{
    display: block;
    margin-top: 25px;
}
.columna_1 h3{
    margin-bottom: 20px;
}
.columna_2 h3{
    margin-bottom: 20px;
}
.columna_2 a{
    display: block;
    margin-top: 25px;
}
.copy{ /*agregar altura par que funcione el centrado*/
    background-color:  rgb(199, 34, 34);
    height: 60px;
}
.copy{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.copy h5, strong{
    color:#f5f5f5;
    font-size: x-small;
}

.mapa iframe{
    width: 80%;
    height: 100px;
}
.ubicacion h3{
    margin-bottom: 20px;
}
.ubicacion p{
    margin-bottom: 20px;
}
.ubicacion{
    margin-left: 10px;
    width: 80%;
    height: 250px;
    padding: 20px;
    border-left: none;
    transition: all .2s;

}
.ubicacion:hover{
    border-left: 3px solid rgb(226, 217, 217);
    border-radius: 3px;
}

/*RESPONSIVE DESIGN*/
@media screen and (max-width: 1100px){
    .buscador input{
        width: 300px;
        padding: 10px;
    }
    .contenedor_menu{
        width: 100%;
        padding: 0px 20px;
    }
    nav> ul >li>a{
        padding: 20px 25px;
    }
    .columna_1{
        height: 250px;
    }
    .columna_2{
        height: 270px;
    }
    .ubicacion{
        height: 250px;
    }
    .contactanos {
        margin-top: 10px;
    }
    .contactanos h3{
        margin-bottom: 10px;
    }
    .columna_1 a{
        margin-top:10px;
    }
    .columna_1 h3{
        margin-bottom: 10px;
    }
    .columna_2 h3{
        margin-bottom: 10px;
    }
    .columna_2 a{
        margin-top: 10px;
    }
}

@media screen and (max-width: 740px){
    .buscador input{
        display:none;
    }
    .contenedor_menu{
        width: 100%;
        padding: 20px 30px;
    }
    nav >ul{
        flex-direction: column;
        background-color: rgb(221, 29, 29);
        position: fixed;
        left: 0;
        top:205px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease; /*efecto ease al desplegarse*/
        z-index: 100; /*para que se ponga por encima de todo*/
        opacity: 0;
        visibility: hidden;
    }
    nav> ul >li>a{
        padding: 20px 30px;
    }
    nav>ul>li>a:hover{
        transform: scale(1);
    }
    nav ul li ul{
        left: 180px; /*submenu*/
    }
    nav >ul> li:hover ul{
        top: 50px;
        max-width: 100%;
    }
    .label_menu{
        display: block;
    }
    .icon_menu{
        display: flex;
    }

    #ic_menu:checked~ nav>ul{ /*investigar*/
        height: 300px;
        width: 100%;
        visibility: visible;
        opacity: 1;
    }   
    
}
@media screen and (max-width:675px) {
   
    .pie_pag {
        display: block;
        font-size: small;
        margin-left: 20px;
    } 
    .redes{
        display: flex;
    }
    .mapa iframe{
        width: 100%;
        padding: 0;
    }
    .columna_1{
        height: 280px;
    }
    .columna_2{
        height: 300px;
    }
    .ubicacion{
        height: 200px;
    }
    .contactanos {
        margin-top: 20px;
    }
    .contactanos h3{
        margin-bottom: 20px;
    }
    .columna_1 a{
        margin-top:25px;
    }
    .columna_1 h3{
        margin-bottom: 20px;
    }
    .columna_2 h3{
        margin-bottom: 20px;
    }
    .columna_2 a{
        margin-top: 25px;
    }
    
}

/*
object-fit: cover;    <--- para recortar la imagen y cubra proporcionalmente el espacio.
*/

