*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url(../imgs/LOGIN/ok.png);
    background-size: cover;
    min-height: 100vh;
}


.form {
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 40.5px 3em;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 150px;
}

.form__title {
    font-size: 2rem;
    margin-bottom: .5em;
}

.form__paragraph {
    font-weight: 300;
    color: #000000;
}

.form__link {
    font-weight: 500;
    color: #000;
}

.form__container {
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form__group { 
    position: relative;
    --color: #5757577e;
}

.form__input {
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
}

.form__input:not(:placeholder-shown){
    color: #4d4646;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top ;
    color: red
}

.form__label {
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(15px);
    transition:transform .5s, color .3s;
}

.form__submit {
    background:crimson;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form__line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: red;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
    transform: scale(0.5em);
}

.olvidar_contrasena{
    color: rgb(151, 26, 26);
    font-size: smaller;
}

@media (max-width:425px){
    .form__title {
        font-size: 1.8rem ;
    }    
}